body {
  margin: 0;
  background-image: url('../Images/mountain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.todo-list {
  background-color: rgba(21, 31, 56, 1);
  font-family: "Space Mono", monospace;
  padding: 1rem;
  min-width: 400px;
  min-height: 300px;
}

.title {
  border-bottom: 1px solid rgba(246, 241, 209, 0.5);
  font-size: 1.5rem;
  font-family: "BioRhyme", serif;
  color: #F6F1D1;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input, .form-button {
  border-radius: 0;
  padding: 0.75rem;
  font-size: 0.75rem;
}

.form-input {
  outline: none;
  background-color: #F6F1D1;
  border-color: rgba(255, 255, 255, 0.1);
}

body {
  margin: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.todo-list {
  background-color: rgb(21, 31, 56, 0.8);
  font-family: "Space Mono", monospace;
  padding: 1rem;
  min-width: 400px;
  min-height: 300px;
  border-radius: 5%;
}

.title {
  border-bottom: 1px solid rgba(246, 241, 209, 0.5);
  font-size: 1.7rem;
  font-family: "BioRhyme", serif;
  color: #F6F1D1;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input, .form-button {  
  padding: 0.75rem;
  font-size: 0.75rem;
}

.form-input {
  flex: 0.7;
  outline: none;
  background-color: #99a8bb;
  border-color: rgba(255, 255, 255, 0.1);
}

.form-button {
  border: 2px solid rgb(21 31 56 / 80%) !important;
  border-radius: 5px;
  color: #ec9785;
  background: #a73855;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: bold;
  cursor: pointer;
  margin-left: 0.25rem;  
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.form-button:hover {
  color: #c2b2fb;
  background: rgba(246, 241, 209, 0.1);
  border-radius: 50px;
  border-color: #a73855 !important;
  transition: all 0.3s ease 0s;
}

.list {
  flex: 1;
  padding: 0;
  list-style: none;
  width: 100%;
  font-family: "Montserrat";
}

.task {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  color: #F6F1D1;
  margin-bottom: 0.5rem;
  padding: 1rem 3rem;
}

.check-button, .delete-button {
  margin-left: 2px;
  background-color: #99a8bb;
  border: 2px solid rgb(21 31 56 / 80%) !important;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* com esse div P eu consegui setar o width: 100% e manter os botões sempre na direita*/

.check-button:hover, .delete-button:hover {
  border-radius: 10px;
  border-color: #a73855 !important;
  transition: all 0.3s ease 0s;
  background: rgba(246, 241, 209, 0.1);
}

.task.done .check-button {
  background-color: #46494C;
  color: #F6F1D1;
}

/* pra caso eu decida usar checkbox ao invés de botão*/

.check-icon {
  padding: 1.5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.task.done .check-icon {
  background-color: #0B2027;
}

.divp {
  width: 100%;
}

.task.done .divp {
  text-decoration: line-through;
  color: #f6f1d167;
}

.content-data {
  color: #F6F1D1;
}

.form-date {
  margin-left: 5px;
  border-radius: 0;
  padding: 0.70rem;
  font-size: 0.70rem;
  flex: 0.5;
  outline: none;
  background-color: #b67d86;
  border-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}